#{extends 'main.html' /}
#{set title:'Skills' /}

<body>
    <button onclick="backtop()" id="top" title="Go to top">TOP</button>

    <div class="skillCover">
        <div class="aboutSkills">
            <h1 class="w3-animate-bottom">My Skills</h1>
            <div id="containerSkills">
                <div class="skillbar">
                    <div id="skillJava">
                        <span class="skillArea w3-animate-bottom">JAVA</span>
                        <span class="PercentText ">70%</span>
                    </div>
                </div>
                <div class="skillbar">
                    <div id="skillHTML">
                        <span class="skillArea w3-animate-bottom">HTML</span>
                        <span class="PercentText ">60%</span>
                    </div>
                </div>
                <div class="skillbar">
                    <div id="skillCSS">
                        <span class="skillArea w3-animate-bottom">CSS</span>
                        <span class="PercentText ">60%</span>
                    </div>
                </div>
                <div class="skillbar">
                    <div id="skillJS">
                        <span class="skillArea w3-animate-bottom">JAVASCRIPT</span>
                        <span class="PercentText ">50%</span>
                    </div>
                </div>
                <div class="skillbar">
                    <div id="skillDB">
                        <span class="skillArea w3-animate-bottom">DATABASE</span>
                        <span class="PercentText ">50%</span>
                    </div>
                </div>
                <div class="skillbar">
                    <div id="skillPS">
                        <span class="skillArea w3-animate-bottom">PHOTOSHOP</span>
                        <span class="PercentText ">70%</span>
                    </div>
                </div>
                <div class="skillbar">
                    <div id="skillMS">
                        <span class="skillArea w3-animate-bottom">MICROSOFT OFFICE</span>
                        <span class="PercentText ">80%</span>
                    </div>
                </div>
            </div>
        </div>
        <img src="/public/images/down arrow.gif" class="downArrow" alt="Arrow down">
    </div>

    <div class="containerExpi">
        <div class="borderExpi">
            <h1>EXPERIENCES</h1>
        </div>
        <div class="expiInformation">
            <!--Kinpo-->
            <h1>KINPO ELECTRONICS PHILIPPINES INC. LIMA</h1>
            <h2><img class="workLogo" src="public/images/work_logo.png">&nbsp SOFTWARE ENGINEER (JULY 2019 - FEB. 2020</h2>
            <p>- Create and modify Web Service as per request/requirements by projects.</p>
            <p>- Modify functions for new update of the project.</p>
            <p>- Support incoming request for Back-end side.</p>
            <p>- Support large projects (<a href="https://pro.xyzprinting.com/en-US/news?tab=news" target="_blank">B2B News</a>, News Backstage & Material Backstage).</p>

            <!--Franke-->
            <h1>FRANKE FOODSERVICE SYSTEMS PHILIPPINES INC.</h1>
            <h2><img class="workLogo" src="public/images/work_logo.png">&nbsp IT INTERN (OCT. 2018 - MAR. 2019)</h2>
            <p>- Check dashboard for overdue deliveries.</p>
            <p>- Creation of quotation and order confirmation.</p>
            <p>- Invoicing</p>
            <p>- Manage PBS and debug basic issues.</p>
        </div>
    </div>

</body>